USE [DuaXeC#]
GO
/****** Object:  Table [dbo].[Bang]    Script Date: 5/12/2021 4:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bang](
	[Ten] [nvarchar](max) NULL,
	[Diem] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
